{{!-- no data --}}
<div class="main content instance-config">
  <mdui-card class="card-default">
    <div class="content">
      <div class="header content-row flex-center">
        <mdui-icon name="data_object"></mdui-icon>
        <div>编辑配置文件</div>
      </div>
      <mdui-text-field autosize min-rows="10">
      </mdui-text-field>
    </div>
  </mdui-card>
</div>