{{!-- no data --}}
<div class="main content instance-slogan">
  <div class="desc" id="instance-slogan-current">当前标语：逸一时，误一世</div>
  <mdui-card class="card-default">
    <div class="content">
      <div class="content-row flex-center header"><mdui-icon name="edit_note"></mdui-icon>
        <div>修改标语</div>
      </div>
      <mdui-text-field label="请输入新的标语" id="instance-slogan-input"></mdui-text-field>
      <mdui-button id="instance-slogan-submit" variant="elevated">提交</mdui-button>
    </div>
  </mdui-card>
</div>