{{! no data }}
<div class="main miracle-instance-panel content ">
  <mdui-card clickable class="card-default instance-panel-card" id="instance-panel-wallpaper">
    <div class="content">
      <mdui-icon name="image"></mdui-icon>
      <span class="header">设置壁纸</span>
      <span class="desc">给这个 Miracle 实例下发一张壁纸</span>
    </div>
  </mdui-card>
  <mdui-card clickable class="card-default instance-panel-card" id="instance-panel-slogan">
    <div class="content">
      <mdui-icon name='edit_note'></mdui-icon>
      <span class="header">标语编辑</span>
      <span class="desc">编辑壁纸里的标语</span>
    </div>
  </mdui-card>
  <mdui-card clickable class="card-default instance-panel-card" id="instance-panel-config">
    <div class="content">
      <mdui-icon name="data_object"></mdui-icon>
      <span class="header">配置文件</span>
      <span class="desc">远程修改实例的配置</span>
    </div>
  </mdui-card>
</div>