<div class="main content">
  <mdui-card class="card-default">
    <div class="content">
      <div class="content-row flex-center header">
        <mdui-icon name="dns--two-tone"></mdui-icon>
        <div>新建实例</div>
      </div>
      <mdui-text-field></mdui-text-field>
      <mdui-text-field></mdui-text-field>
      <mdui-button></mdui-button>
    </div>
  </mdui-card>
</div>