<div class="main content">
  <mdui-card class="card-default">
    <div class="content">
      <div class="content-row flex-center header">
        <mdui-icon name="dns"></mdui-icon>
        <div>新建实例</div>
      </div>
      <mdui-text-field required id="master-new-instance-name-field" label="实例名称"></mdui-text-field>
      <mdui-text-field required id="master-new-instance-id-field" label="实例 ID" maxlength="20" counter
        pattern="[A-Za-z0-9\-_]+"></mdui-text-field>
      <mdui-button id="master-new-instance-button" variant="elevated">添加实例</mdui-button>
    </div>
  </mdui-card>
</div>