{{!-- no data --}}
<div class="main content instance-config">
  <mdui-card class="card-default">
    <div class="content">
      <div class="header content-row flex-center">
        <mdui-icon name="data_object"></mdui-icon>
        <div>实例管理</div>
      </div>
      <mdui-button id="master-settings-add-instance">添加实例</mdui-button>
      <mdui-button id="master-settings-remove-instance">删除实例</mdui-button>
    </div>
  </mdui-card>
  <mdui-card class="card-default">
    <div class="content">
      <div class="header content-row flex-center">
        <mdui-icon name="settings"></mdui-icon>
        <div>服务器设置</div>
      </div>
      <span>设置和风天气 API 密钥</span>
      <mdui-text-field id="master-settings-weather-key" label="输入密钥">
        <mdui-button-icon id="master-settings-weather-key-submit" slot="end-icon" variant="tonal"
          icon="send"></mdui-button-icon>
      </mdui-text-field>
    </div>
  </mdui-card>
</div>