{{!-- no data --}}
<div class="main content instance-config">
  <mdui-card class="card-default">
    <div class="content">
      <div class="header content-row flex-center">
        <mdui-icon name="data_object"></mdui-icon>
        <div>实例管理</div>
      </div>
      <mdui-button>添加实例</mdui-button>
      <mdui-button>删除实例</mdui-button>
    </div>
  </mdui-card>
</div>